/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "sync";
    src: url("Syncopate-Regular.ttf");
}

html {
  width:100%;
  height:100%;
  overflow: hidden;
}

body {
    overflow: hidden;
  background:#521D52;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: "sync";
}

ul {
    margin-top:50px;
}

.textSplah {
    font-size:2em;
    color: rgba(255, 255, 255, 0.49);
}

.wrap {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width: 100vw;
 animation: fromBottom;
 animation-duration: 2.5s;
 height: 100vh;
}

.textSplah {
    position: absolute;
    top: 55%;
    width: 100vw;
    text-align: center;
}

@keyframes alya {
  0% {
    box-shadow: 0 0 0 5px #fff6fd, 0 0 0 15px rgba(216, 215, 216, 0.58);
  }

  100% {
    box-shadow: 0 0 0 9px #fff6fd, 0 0 0 23px rgba(216, 215, 216, 0.02);
  }
}

.alya-animation {
    position: absolute;
    top: 30%;
    left: 45%;
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow: 0 0 0 5px #AF7EA2, 0 0 0 15px #6A4561;
    animation: alya .8s infinite ease-in-out alternate;
    background-image:url('alya.png');
    background-position: center;
    background-size: cover;
}


/** CARD */
.advise-card {
    width: 400px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:  center;
    text-decoration: none;
    color: white;
    border-radius:13px;
    background: rgba(216, 215, 216, 0.21);
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.card-title {
    color: white;
    width: 100%;
    text-align:center;
}

.card-content {
    color: white;
}
/** END CARD */

@keyframes fromBottom {
    0% {
        opacity: 0;
        margin-top: 400px;
    }
    100% {
        opacity: 1;
        margin-top: 320px;
    }
}


.invisibleInput {
    background: transparent;
    border: none;
    color: transparent;
}

@keyframes moveToLeft {
    0% {
        box-shadow: 0 0 0 5px #fff6fd, 0 0 0 15px rgba(216, 215, 216, 0.58);
    }

    100% {
        box-shadow: 0 0 0 11px #fff6fd, 0 0 0 26px rgba(216, 215, 216, 0.02);
    }
}


@keyframes highlightcard {
    0% {
        box-shadow: 0 0 0 2px #fff6fd, 0 0 0 10px rgba(216, 215, 216, 0.58);
    }

    100% {
        box-shadow: 0 0 0 5px #fff6fd, 0 0 0 6px rgba(216, 215, 216, 0.02);
    }
}

.moveToRightEasy {
    animation: moveToLeft;
    animation-duration: 2s;
    width: 125px;
    height: 125px;
    top: 150px;
    left: 150px;
}

.stayLeft {
     animation: alya .8s infinite ease-in-out alternate;
}

.accelerateEffect {
    animation: alya .2s infinite ease-in-out alternate;
}

button {
    margin-bottom: 20px;
}

.answers {
    animation: fromBottom;
    animation-duration: 2s;
    margin-top: 320px;
}

.hide {
    transition:1s;
    display: none;
}

.highLight {
    height: 65px;
    background: rgba(216, 215, 216, 0.58);
    margin-right:20px;
    margin-bottom: 10px;
    animation: highlightcard .8s infinite ease-in-out alternate;
}